body{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hlogo{
    font-family:fantasy;
}
#toolbaritems a{
    
    transition:0.2s;
}
#toolbaritems a:hover{
    color:white;
    background-color:rgb(199, 2, 2);
}
#activetoolbar{
    color:white;
    background-color:rgb(199, 2, 2);
}
#over{
    transition:0.2s;
}
#over:hover{
    box-shadow:0px 0px 4px rgb(199, 2, 2),0px 0px 4px rgb(199, 2, 2);
}
#webback{
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fbackground&psig=AOvVaw11zE6FKO1gkCY8J2lu9rV_&ust=1668490717452000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCJi1o7j6rPsCFQAAAAAdAAAAABAD") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
