body{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hlogo{
    font-family:fantasy;
}
#toolbaritems a{
    
    transition:0.2s;
}
#toolbaritems a:hover{
    color:white;
    background-color:rgb(199, 2, 2);
}
#activetoolbar{
    color:white;
    background-color:rgb(199, 2, 2);
}
#over{
    transition:0.2s;
}
#over:hover{
    box-shadow:0px 0px 4px rgb(199, 2, 2),0px 0px 4px rgb(199, 2, 2);
}
#webback{
    background: url("https://cdn.wallpapersafari.com/63/6/lqZkPx.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#darkweb{
    color:white;
}

/*-------------------------------------------------------------------------------*/

audio{
  width: 100%;
  border:5px solid rgb(169, 236, 227);
              border-radius: 50px
}
audio::-webkit-media-controls-panel {
  background-color: #56c9ff;
}
audio::-webkit-media-controls-play-button {
  background-color: #0051ff;
  border-radius: 200%;
}
audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(238, 10, 10, 0.7);
}
